---
---

@import "{{ site.theme }}";

header {
    width: 100%;
    float: left;
    position: inherit;
    -webkit-font-smoothing: subpixel-antialiased;
}

section {
    width: 100%;
    float: left;
}

footer {
    width: 100%;
    float: left;
    position: inherit;
}

body {
    font: 15px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: justify
}


.downloads li {
    width: 100px;
    border-right: 1px solid #e0e0e0;
}

.downloads li + li + li {
    border-right: 1px solid #e0e0e0;
    width: 100px;
}

ul.downloads {
    list-style: none;
    height: 40px;
    padding: 0;
    background: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    width: 404px; /*Atualizar ao inserir novo menu (100px + 1)*/
}